<!DOCTYPE html>
<html>

<head>
  <title>Already Rated</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="mx-auto">Already rated</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      You have already rated this restaurant
    </div>
	<div class="row">
		<a href="../display?id=<%=id%>" class="btn btn-info">Back</a>
	</div>
  </div>
</body>
