<!DOCTYPE html>
<html>

<head>
  <title>Rate Restaurant</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="mx-auto">Rate Restaurant: <%=name %></h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <form action="./<%=id%>" method="post">
        <input type="radio" name="rating" value=1 checked> 1<br>
        <input type="radio" name="rating" value=2> 2<br>
        <input type="radio" name="rating" value=3> 3<br>
        <input type="radio" name="rating" value=4> 4<br>
        <input type="radio" name="rating" value=5> 5<br>
        <input type="radio" name="rating" value=6> 6<br>
        <input type="radio" name="rating" value=7> 7<br>
        <input type="radio" name="rating" value=8> 8<br>
        <input type="radio" name="rating" value=9> 9<br>
        <input type="radio" name="rating" value=10> 10<br>
        <input type="submit" class="btn btn-info" value="Submit">
      </form>
    </div><br>
	<div class="row">
		<a href="#" onClick="history.back()" class="btn btn-info">Back</a>

	</div>
  </div>
</body>
