<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <form action="#" method="post">
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Username" name="uid"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="password" name="pw"/>
        </div>
      </div>
      <%= msg %>
      <div class="row">
        <button type="submit" class="btn btn-success">Login</button>
      </div>
    </form>
    <div class="row">
      <a href="signup" class="btn btn-info">Sign Up</a>
    </div>
  </div>
</body>
</html>
