<!DOCTYPE html>
<html>

<head>
  <title>Restaurants</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="mx-auto">Create New Restaurants</h1>
    </div>
  </div>
  <div class="container">
    <form action="#" method="post" encType="multipart/form-data">
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Name" name="name"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Cuisine" name="cuisine"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Borough" name="borough"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Street" name="street"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Building" name="building"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Zipcode" name="zipcode"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="GPS Coordinates (lat.)" name="lat"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="GPS Coordinates (lon.)" name="lon"/>
        </div>
      </div>
      <div class="row">
        <div class="input-group">
          <input type="file" name="photo"/>
        </div>
      </div>
      <font color="red"><%=msg %></font>
      <div class="row">
          <button type="submit" class="btn btn-info">Create</button>
      </div>
    </form>
  </div>
  <div class="container">
  </div>
</body>
</html>
