<!DOCTYPE html>
<html>

<head>
  <title>Restaurants</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="mx-auto">Restaurants</h1>
      <span>User:<%=uid %></span>
    </div>
    <div class="row">
      <span>Showing <%=count %> documents</span>
    </div>
  </div>
  <div class="container">
    <a href="new" class="btn btn-info">Create New Restaurants</a>
  </div>
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <% result.forEach(function(result) { %>
        <tr>
          <th><a href="display?_id=<%= result._id %>"><%= result.name %></a></th>
        </tr>
        <% });%>
      </tbody>
    </table>
  </div>
</body>
</html>
